<div (clickOutside)="onClickedOutside($event)">

<header>
  <!-- <img src="../../../assets/pictures/profile.png" alt="profile picture" class="profile-pic" (click)="showStyle = !showStyle;"> -->
  <div class="profile-pic" [ngStyle]="{'background-image': 'url(' + apiUrl+user.profilePhoto + ')'}" *ngIf="user && user.profilePhoto" (click)="showStyle = !showStyle;">
  </div>
  <!-- <img src="{{apiUrl+user.profilePhoto}}" alt="m" *ngIf="user && user.profilePhoto" class="profile-pic" (click)="showStyle = !showStyle;"> -->
  <p class="minimo-header" *ngIf="!user"><a [routerLink]="['/home']"><span class="mi">mi</span><span class="ni">ni</span><span class="mo">mo</span></a></p>
  <p class="minimo-header" *ngIf="user"><a [routerLink]="['/profile/posts']"><span class="mi">mi</span><span class="ni">ni</span><span class="mo">mo</span></a></p>
  <img src="../../../assets/pictures/minimo-m-inverse.png" alt="logo" class="logo-m" (click)="showStyle = !showStyle;">
</header>


  <div [style.display]="getStyle()" class="left-nav">
    <div *ngIf="!user">
      <p><a [routerLink]="['/home']" id="home">Home</a></p>
      <p><a [routerLink]="['/auth/login']">Log in</a></p>
      <p><a [routerLink]="['/auth/signup']">Sign up</a></p>
    </div>
    <div *ngIf="user">
      <h3 class="username"><a [routerLink]="['/profile/posts']">{{user.name}}</a></h3>
      <p class="feed"><a [routerLink]="['/feed']">Feed</a></p>
      <p class="profile"><a [routerLink]="['/profile/posts']">Profile</a></p>
      <p class="settings"><a [routerLink]="['/profile/settings']">Settings</a></p>
      <p class="logout"><button (click)="logout()">Logout</button></p>
    </div>
    <p class="minimo"><span class="mi">mi</span><span class="ni">ni</span><span class="mo">mo</span></p>
  </div>
</div>