@import "../../../responsive-font-size";
@import "../../../variables";

img {
  max-width: 30px;
  margin: 0 5px;
}

.social {
  margin-top: 5vh;
}

p {
  font-family: $body-font;
  @include responsive-font-size (.8em, 1.5em, 375px, 1200px, 0.5em);
}
