@import "../../../responsive-font-size";
@import "../../../variables";

button {
  margin: 0 auto;
  display: block;
  background-color: white;
  color: grey;
  border: .5px solid grey;
  border-radius: 100px;
  height: 30px;
  width: 120px;
  font-size: 1em;
}
//change box shadow and card view to be more mordern

h1 {
  font-family: $heading-font;
  margin: 0 auto;
  @include responsive-font-size (1.3em, 2em, 375px, 1200px, 0.5em);
}

.post-date {
  font-family: $body-font;
  color: grey;
  margin: 0 auto;
  @include responsive-font-size (.7em, 1em, 375px, 1200px, 0.5em);
}

.post-content {
  font-family: $body-font;
  margin: 10px 0 15px 0;
  max-height: 145px;
  overflow: hidden;
  word-wrap: break-word;
  @include responsive-font-size (.65em, 1.2em, 375px, 1200px, 0.5em);
}

.expand {
  font-family: $body-font;
  margin: 10px 0 15px 0;
  max-height: 100%;
  transition: all 200ms ease;
  word-wrap: break-word;
  @include responsive-font-size (.65em, 1.2em, 375px, 1200px, 0.5em);
}

.post-card {
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
  margin-bottom: 10px;
  padding: 10px 15px;
  border: .2px solid rgba(0,0,0,0.16);
}
