<div class="button-row">
  <a [routerLink]="['/profile/posts']"><button class="posts active">Posts</button></a>
  <a [routerLink]="['/profile/blogs']"><button class="blogs inactive">Blogs</button></a>
</div>

<div class="select-container">
<select name="sortby" class="select-menu" id="sortby" (change)="updateSort($event.target.value)">
  <option value="" selected disabled>Sort by</option>
  <option selected>Newest</option>
  <option>Oldest</option>
</select>
</div>

  <!-- have button class be dependent on which component is displaying -->
<div *ngIf="posts && posts.length === 0" class="no-posts-list">
  <p class="no-posts">You have no posts yet</p>
    <p class="no-posts">Click on the button in the bottom right corner to write your first post</p>
</div>

<div *ngFor="let post of posts">
  <app-post-card [post]="post"></app-post-card>
</div>



<app-add-a-post-icon></app-add-a-post-icon>
