  <h2>Create Post</h2>
  <form class="create-post" (ngSubmit)="handleCreatePostForm(myForm)" #myForm="ngForm" novalidate>
    <div class="field">
      <input type="text" id="post-title" name="postTitle" placeholder="Post Title" #myPostTitle=ngModel [(ngModel)]="formData.postTitle">
    </div>
    <div class="field">
      <textarea type="text" id="post-content" name="postContent" placeholder="Post Body" #myPostBody=ngModel [(ngModel)]="formData.postContent" ></textarea>
    </div>
    <div class="field">
      <button type="submit" id="submit-btn">Post</button>
    </div>
  </form>
