  <h2>Create Post</h2>

  <form class="create-post" (ngSubmit)="handleCreatePostForm(myForm)" #myForm="ngForm" novalidate>
    <div class="field">
      <label>Post Title</label>
      <input type="text" name="postTitle" placeholder="Post Title" #myPostTitle=ngModel [(ngModel)]="formData.postTitle">
    </div>
    <div class="field">
      <label>Post Body</label>
      <textarea type="text" name="postContent" #myPostBody=ngModel [(ngModel)]="formData.postContent"></textarea>
    </div>
    <div class="field">
      <button type="submit">Post</button>
    </div>
  </form>
