<h1><a [routerLink]="['/home']">minimo</a></h1>

<form [ngClass]="{'has-error': error}" #myForm="ngForm" novalidate>
  <div class="form-group field" [ngClass]="{'has-error': error}">
    <input type="text" [(ngModel)]="user.name" name="name" #myName=ngModel required/>
    <p>name</p>
  </div>
  <div *ngIf="myName.errors && (myName.dirty || myName.touched)">
      <p class="error" [hidden]="!myName.errors.required">
        Please enter your name
      </p>
  </div>
  <div class="form-group field" [ngClass]="{'has-error': error}">
    <input type="email" [(ngModel)]="user.email" name="email" #myEmail=ngModel required/>
    <p>email</p>
  </div>
  <div *ngIf="myEmail.errors && (myEmail.dirty || myEmail.touched)">
      <p class="error" [hidden]="!myEmail.errors.required">
        Please enter your email
      </p>
  </div>
  <div class="form-group field" [ngClass]="{'has-error': error}">
    <input type="password" [(ngModel)]="user.password" name="password" #myPassword=ngModel required/>
    <p>password</p>
  </div>
  <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
      <p class="error" [hidden]="!myPassword.errors.required">
        Please enter a password
      </p>
  </div>
  <div class="form-group actions">
    <button (click)="signup()">Sign Up</button>
  </div>
</form>

<app-social-signin></app-social-signin>

<p class="existing-user">Existing User? <a [routerLink]="['/auth/login']">Log in</a></p>
