@import "../../../responsive-font-size";

* {
  text-align: center;
}

h1 {
  margin-top: 6vh;
  margin-bottom: 8vh;
	@include responsive-font-size (4em, 6em, 375px, 1200px, 0.5em);
  a {
    color: black;
  }
}

.error {
  color: grey;
}

input {
  border: none;
  border-bottom: .8px solid black;
  min-width: 250px;
  margin-bottom: 0;
  @include responsive-font-size (.8em, 1.5em, 375px, 1200px, 0.5em);
}

form p {
  margin-top: 5px;
}


button {
  @include responsive-font-size (1em, 1.5em, 375px, 1200px, 0.5em);
  background-color: black;
  color: white;
  text-transform: lowercase;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  text-align: center;
  width: 230px;
  margin-top: 5vh;
  margin-bottom: 3vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

//Inverse button color
// button {
//   @include responsive-font-size (1em, 1.5em, 375px, 1200px, 0.5em);
//   background-color: white;
//   color: black;
//   text-transform: lowercase;
//   border: none;
//   border: 1px solid black;
//   border-radius: 100px;
//   padding: 10px 20px;
//   text-align: center;
//   width: 230px;
//   margin-top: 5vh;
//   margin-bottom: 3vh;
// }


.existing-user {
  margin-top: 5vh;
}

a {
  color: grey;
  text-decoration: none;
}
