@import "../../../responsive-font-size";

* {
  text-align: center;
}

.welcome {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
	@include responsive-font-size (2em, 4em, 375px, 1200px, 0.5em);
}

.username {
  @include responsive-font-size (2.6em, 5.5em, 375px, 1200px, 0.5em);
  margin-top: 0;
  margin-bottom: 3vh;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}

input {
  border: none;
  border-bottom: .8px solid black;
  min-width: 250px;
  margin-bottom: 0;
}

form p {
  margin-top: 5px;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80px;
  border-radius: 100px;
  border: .5px solid grey;
}

#add-desc {
  margin-top: 5vh;
  margin-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  @include responsive-font-size (1em, 2em, 375px, 1200px, 0.5em);
}

#accent-select {
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  @include responsive-font-size (1em, 2em, 375px, 1200px, 0.5em);
}

#upload-btn {
  border: none;
  border-radius: 100px;
  color: #505050;
  background-color: #e2e2e2;
  padding: 5px 20px;
}

.button-row {
  margin-bottom: 20px;
}

#yellow {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #dfb217;
}

#orange {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #c76e18;
}

#pink {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #dd3e9c;
}

#red {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #cd2e2e;
}

#skyblue {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #3eb8be;
}

#blue {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #2c3480;
}

#purple {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #9d2d8c;
}

#green {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #2e881d;
}

#brown {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #463507;
}

#black {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: black;
}


#save-btn {
  @include responsive-font-size (1.2em, 1.7em, 375px, 1200px, 0.5em);
  font-family: 'Heebo', sans-serif;
  background-color: black;
  color: white;
  text-transform: lowercase;
  border: none;
  border-radius: 100px;
  padding: 5px 15px;
  text-align: center;
  width: 200px;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
