<app-navbar></app-navbar>
<p class="welcome">welcome,</p>
<p class="username">username</p>
<form action="">
  <div>
    <img src="" alt="">
    <button>Upload Picture</button>
  </div>
    <p>Add a description to your profile</p>
    <input type="text">
    <p>Chose your accent color</p>
    <select name="colors" form="colors">
      <option value="yellow">Yellow</option>
      <option value="orange">Orange</option>
      <option value="red">Pink</option>
      <option value="skyblue">Sky Blue</option>
    </select>
    <button>Save</button>
</form>
