@import "../../../responsive-font-size";
@import "../../../variables";


@media screen and (min-width : 300px) and (max-width : 340px) {
  .active {
    padding: 5px 15px 3px 15px;
    width: 100px;
    margin: 0 20px;
  }
  .inactive {
    padding: 5px 15px 3px 15px;
    width: 100px;
    margin: 0 20px;
  }
}

@media screen and (min-width : 341px) and (max-width : 768px) {
  .active {
    padding: 5px 15px 3px 15px;
    width: 120px;
    margin: 0 20px;
  }
  .inactive {
    padding: 5px 15px 3px 15px;
    width: 120px;
    margin: 0 20px;
  }
}

@media screen and (min-width : 769px) and (max-width : 5000px) {
  .active {
    padding: 5px 15px 3px 15px;
    width: 200px;
    margin: 0 60px;
  }
  .inactive {
    padding: 5px 15px 3px 15px;
    width: 200px;
    margin: 0 60px;
  }
}


.no-blog-list {
  margin-top: 4vh;
  .no-blogs {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 5vh;
    font-family: $body-font;
    @include responsive-font-size (.75em, 1.5em, 375px, 1200px, 0.5em);
  }
}

.button-row {
  text-align: center;
}

select {
    background-color: white;
    color: grey;
    border: .5px solid grey;
    font-family: $body-font;
    border-radius: 50px;
    padding: 2px 5px 2px 10px;
    text-align: center;
    margin-bottom: 10px;
    @include responsive-font-size (.6em, 1.3em, 320px, 1200px, 0.5em);
}

.active {
  @include responsive-font-size (.6em, 1.4em, 320px, 1200px, 0.5em);
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: $heading-font;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  text-align: center;
  margin-bottom: 3vh;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.inactive {
  @include responsive-font-size (.6em, 1.4em, 320px, 1200px, 0.5em);
  background-color: #eeeeee;
  color: grey;
  text-transform: uppercase;
  font-family: $heading-font;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  text-align: center;
  margin-bottom: 3vh;
}
