@import "../../../responsive-font-size";
@import "../../../variables";


@media screen and (min-width : 320px) and (max-width : 768px) {
  .profile-info {
    margin: 0 auto;
    margin-top: 1.5vh;
    // height: 185px;
    .profile-image {
      width: 80px;
      height: 80px;
      margin-bottom: 1.5vh;
    }
    .profile-text {
    }
    .username {
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width : 769px) and (max-width : 5000px) {
  .profile-info {
    margin: 0 auto;
    margin-top: 2vh;
    // max-width: 500px;
    // height: auto;
    .profile-image {
      width: 140px;
      height: 140px;
    }
    .profile-text {
      margin-bottom: 2vh;
      .username {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .user-description {
        margin-bottom: 4vh;
      }
    }
  }
}


.profile-info {
  .profile-image {
    margin: 0 auto;
    background-position: 50%;
    background-size: cover;
    display: block;
    border-radius: 50%;
    border: .5px solid grey;
  }
  .profile-text {
    margin: 0 auto;
    text-align: center;
    .username {
      text-transform: uppercase;
      font-weight: bold;
      font-family: $heading-font;
      @include responsive-font-size (1.6em, 2.5em, 375px, 1200px, 0.5em);
    }
    .user-description {
      margin-top: 0;
      font-family: $body-font;
      @include responsive-font-size (.65em, 1.8em, 375px, 1200px, 0.5em);
    }
  }
}
