<div class="profile-info">
  <img src="../../../assets/pictures/profile.png" alt="profile picture">
  <div class="profile-text">
    <p class="username">{{user && user.name}}</p>
    <p *ngIf="user && user.description" class=user-description>{{user.description}}</p>

  </div>
</div>
<div class="button-row">
  <a [routerLink]="['/profile']"><button class="posts" [ngClass]="{'active': hasActive, 'inactive': hasInactive}" (click)="toggleClass()">Posts</button></a>
  <a [routerLink]="['/profile/blogs']"><button class="blogs" [ngClass]="{'active': hasInactive, 'inactive': hasActive}" (click)="toggleClass()">Blogs</button></a>
</div>
<select name="sortby" id="sortby">
  <option value="" selected disabled>Sort by</option>
  <option value="newest" selected>Newest</option>
  <option value="oldest">Oldest</option>
</select>
