@import "../../../responsive-font-size";
@import "../../../variables";


.profile-info {
  margin: 0 auto;
  margin-bottom: 25px;
  min-height: 13vh;
  img {
    margin: 0 auto;
    display: inline-block;
    margin-left: 4vw;
    margin-top: 2.5vh;
    max-width: 75px;
    border-radius: 100px;
    border: .5px solid grey;
  }
  .profile-text {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    float: right;
    .username {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
      margin-top: 3vh;
      font-family: $heading-font;
      @include responsive-font-size (1.6em, 3.2em, 375px, 1200px, 0.5em);
    }
    .user-description {
      text-align: center;
      margin: 0 auto;
      margin-top: 0;
      max-width: 350px;
      font-family: $body-font;
      @include responsive-font-size (.65em, 3.2em, 375px, 1200px, 0.5em);
    }
  }
}
