.blog-header {
  background-color: black;
  color: white;
  height: 25vh;
  text-align: center;
  margin: 0;
}

.blog-name {
  margin-top: 5px;
  margin-bottom: 0;
  padding-top: 20px;
}

.blog-description {
  margin-top: 10px;
}
